<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="ru.creditnet.security" level="debug"/>
    <logger name="org.springframework" level="off"/>
    <logger name="org.springframework.security" level="debug"/>
    <logger name="org.springframework.web" level="debug"/>
</configuration>
